{% extends 'layout2.html' %}

{% block body %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userchathome.css') }}">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/Page.css" />
    <link rel="stylesheet" type="text/css" href="static/css/userchathome.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title> Chat Services </title>
</head>
<body>

<!-- Display Parralax Image and Title -->

<div class="parallax">
<h1 style="font-size: 55px;"> EXPERIENCE REAL-TIME
<br> VIRTUAL CLINIC </h1>
<br>
<p> Real-time chat experience that allows you to
<br> consult a doctor online. </p>
<br>
<button id="firstbutton" onclick="scrollToElement()" class="button">See Our Services</button>
</div>


<!-- Spacing -->

<br>
<br>
<br>

<!-- Display Chat Capabilities -->

<div class="container" id="capabilities">
  <div class="row">
    <div class="col-sm-4">
      <h3>Ease of use</h3>
      <p>Simply click and</p>
      <p>go!</p>
    </div>
	<div class="vl">
	</div>
    <div class="col-sm-4">
      <h3>Convenience</h3>
      <p>Can be used at</p>
      <p>home!</p>
    </div>
	<div class="vlt">
	</div>
    <div class="col-sm-4">
      <h3>Seamless experience</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div>


<!-- Spacing -->

<br>
<br>
<br>
<br>
<br>
<br>

<!-- About -->

<div id="about">
	<h2> WHAT IS THIS? </h2>
	<hr style="width: 50px; border-style: solid; border-color: red;">
	<br>
	<br>
	<p> We provide real-time healthcare chat services. We provide real-time healthcare </p>

</div>

<!-- Display Services -->

<div id="services">
	<hr>
	<h2 style="text-align: center;"> Our Services </h2>
	<hr style="width: 50px; border-style: solid; border-color: red;">
	<hr/>
	<div class="row">
	  <div class="column">
		<img src="/static/images/Virtualdoc.jpg" style="width: 100%; height: 250px; float: top;">
		<hr>
		<h2>Virtual Consultation</h2>
		<p>Consult our doctors directly online.
		<br>Yes, at your own seat!</p>
		<br>
        <button type="button" id="sbutton" class="button" onclick="window.location.href='{{ url_for( 'chatlogin' ) }}';">Take me there!</button>
          <br>
	  </div>
	  <div class="column">
		<img src="/static/images/Medibot.jpg" style="width: 100%; height: 200px; float: top;">
		<hr>
		<h2>Check Your Illnesses</h2>
		<p>Don't want a consultation? Talk to our MediBot
		<br>to find out more! </p>
		<br>
		<button id="sbutton" class="button">Take me there!</button>
		<br>
	  </div>
	  <div class="column">
		<h2>Column 3</h2>
		<p>Somtext..</p>
	  </div>
	</div>
</div>

<!-- Spaces -->

<br>
<br>
<br>
<br>

<!-- Help Section -->

<div id="help">
<h2> Need Help? </h2>
<h3> Visit our Step by Step Help page! </h3>
<br>
<!-- Button here-->
</div>

<!-- Call to Action -->



<!-- JAVASCRIPT -->

<script>

function scrollToElement(element) {
	document.getElementById('services').scrollIntoView({block: 'start', behavior: 'smooth'});
}

</script>


</body>
{% endblock %}
