<style>
    .w3-white{
        padding:8px;
    }
  
</style>

{% extends 'layoutadmin.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{% block body %}
<br><br><br><br>
<h1>Articles</h1>
<br/>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {%  for info in newinfo %}
        <tr>
            <td>{{ info.get_title() }}</td>
            <td>{{ info.get_info() }}</td>
            <td><a href="/update_article/{{info.get_artid()}}" class="btn btn-warning">Update</a></td>
            <td><form action="{{url_for('delete_article', id=info.get_artid())}}" method="post">
                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?');"></form></td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
